.sr-search {
  padding: 40px 0px;
}

.sr-search .sr-search-form {
  /* display: flex;
  gap: 24px; */
}

.sr-search .sr-search-form label {
  display: block;
  font-size: 14px;
  line-height: 14px;
}

.sr-search .sr-search-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 4px);
  background-position-y: 50%;
  padding: 10px 30px 10px 20px;
}

.sr-search .sr-search-form select,
.sr-search .sr-search-form input {
  border: 1px solid #177E89;
  border-radius: 999px;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 20px;
  width: 100%;
}

.sr-search .sr-search-form .sr-btn {
  background-color: #177E89;
  border-radius: 999px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 8px 20px;
  width: 100%;
}

.sr-search .sr-search-form .sr-btn:after {
  content: url('../img/svg/icon-search-white.svg');
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.sr-search .sr-search-form.loading .sr-btn {
  opacity: 0.5;
  pointer-events: none;
}

.sr-search .sr-results {
  position: relative;
  min-height: 240px;
}

.sr-search .sr-results.loading:before {
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.sr-search .sr-results.loading:after {
  content: '';
  position: absolute;
  border: 16px solid #eee;
  border-radius: 50%;
  border-top: 16px solid #177E89;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s ease-in-out infinite;
  animation: spin 2s ease-in-out infinite;
  left: 50%;
  top: 120px;
  margin-left: -60px;
  margin-top: -60px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

.sr-search .sr-results .sr-total {
  font-size: 14px;
}

.sr-search .sr-results .sr-job {
  background-color: #f1f1f1;
  border-radius: 20px;
  margin: 16px 0px;
  padding: 16px;
}

.sr-search .sr-results .sr-job .title {
  font-size: 20px;
  line-height: 20px;
}

.sr-search .sr-results .sr-job .subtitle {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.sr-search .sr-results .sr-job .description {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}

.sr-search .sr-results .sr-job .sr-details {
  align-items: center;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 14px;
}

.sr-search .sr-results .sr-job .sr-details > * {
  display: flex;
  align-items: center;
}

.sr-search .sr-results .sr-job .sr-details .address:before {
  display: inline-block;
  content: url('../img/svg/icon-location.svg');
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.sr-search .sr-results .sr-job .sr-details .employment:before {
  display: inline-block;
  content: url('../img/svg/icon-time.svg');
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.sr-search .sr-results .sr-job .sr-details .hourly-rate:before {
  display: inline-block;
  content: url('../img/svg/icon-location.svg');
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.sr-search .sr-results .sr-job .sr-details .sr-btn {
  border-radius: 999px;
  border: 1px solid #177E89;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin-left: auto;
  text-transform: uppercase;
  padding: 10px 16px;
}

.sr-search .sr-filters {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 30px;
  margin: 22px 0px;
}

.sr-search .sr-filters h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 24px;
}

.sr-search .sr-filters label {
  font-size: 14px;
  line-height: 14px;
  width: 100%;
}

.sr-search .sr-filters select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 4px);
  background-position-y: 50%;
  border: 1px solid #177E89;
  border-radius: 999px;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 30px 10px 20px;
  width: 160px;
  max-width: 100%;
}

.sr-search .sr-filters input[type="checkbox"] {
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.sr-search .sr-filters input[type="checkbox"] + label {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  z-index: 1;
  width: initial;
}

.sr-search .sr-filters input[type="checkbox"] + label:before {
  background-color: #ffffff;
  border: 1px solid #177E89;
  content: '';
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.sr-search .sr-filters input[type="checkbox"]:checked + label:before {
  background-image: url('../img/svg/icon-check.svg');
}

.sr-search .sr-filters .group {
  position: relative;
}

.sr-search .sr-filters .group.separate {
  border-bottom: 1px solid #000;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.sr-search .sr-filters .sr-reset-filter {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 24px;
}

.sr-search .sr-pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0px;
}

.sr-search .sr-pagination span.label {
  margin-right: 12px;
  font-size: 14px;
}

.sr-search .sr-pagination span.separator {
  margin: 0px 8px;
}

.sr-search .sr-pagination a {
  border-radius: 999px;
  border: 1px solid #177E89;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 4px;
  height: 24px;
  width: 24px;
  text-align: center;
}

.sr-search .sr-pagination a.current {
  background-color: #177E89;
  color: #ffffff;
}