.sr-single {
  padding: 40px 0px;
}

.sr-single .sr-breadcrumbs {
  margin-bottom: 20px;
}

.sr-single .sr-breadcrumbs a {
  color: #1a1a1a;
  font-size: 18px;
}

.sr-single .sr-breadcrumbs a:after {
  content: '>';
  display: inline-block;
  margin: 0px 4px;
}

.sr-single .sr-breadcrumbs a:last-of-type {
  font-weight: bold;
  pointer-events: none;
}

.sr-single .sr-breadcrumbs a:last-of-type:after {
  display: none;
}

.sr-single .sr-breadcrumbs .separator {
  padding: 0px 5px;
}

.sr-single .sr-logo {
  height: 100px;
  width: auto;
}

.sr-single .sr-content h3 {
  color: #1a1a1a;
  font-size: 18px;
  font-family: Nunito, sans-serif;
  font-weight: bold;
}

.sr-single .sr-content p a {
  text-decoration: underline;
}

.sr-single .sr-content p u {
  text-decoration: initial;
}

.sr-single .sr-map {
  width: 100%;
  height: 240px;
  background-color: #f1f1f1;
  margin-bottom: 12px;
}

.sr-single .btn {
  display: inline-block;
  background-color: #DEDEDE;
  color: #1A1A1A;
  font-size: 14px;
  margin: 0px 8px 8px 0px;
  min-width: 1px;
  padding: 16px 20px;
  text-transform: uppercase;
}

.sr-single .btn.btn-primary {
  background-color: #177E89; 
  border: none;
  color: #fff;
}

.sr-single .sr-details {
  align-items: center;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 14px;
}

.sr-single .sr-details > * {
  display: flex;
  align-items: center;
}

.sr-single .sr-details .address:before {
  display: inline-block;
  content: url('../img/svg/icon-location.svg');
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.sr-single .sr-details .employment:before {
  display: inline-block;
  content: url('../img/svg/icon-time.svg');
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.sr-single .sr-details .hourly-rate:before {
  display: inline-block;
  content: url('../img/svg/icon-location.svg');
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.sr-single .sidebar {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 30px;
}

.sr-single .sidebar .actions {
  margin-bottom: 30px;
}

.sr-single .sidebar .actions [href="#"] {
  opacity: 0.25;
  pointer-events: none;
}

.sr-single .sidebar h3 {
  font-size: 20px;
  color: #1a1a1a;
}

.sr-single .sidebar .sr-social {
  display: flex;
  gap: 12px;
  padding-top: 8px;
  margin-bottom: 30px;
}

#sr-community{
  max-height: 200px;
  overflow-y: auto;
}

.sr-single .sidebar .sr-other-communities {
  list-style: none;
  padding: 10px 0px 0px;
  margin: 0;
}

.sr-single .sidebar .sr-other-communities li {

}

.sr-single .sidebar .sr-other-communities li a {
  color: #1a1a1a;
}
.sr-single .sidebar .sr-other-communities li a:hover {
  text-decoration: underline;
}

.sr-single .sidebar .sr-other-communities li a .title {
  font-weight: bold;
}

.sr-single .sidebar .sr-other-communities li a .title,
.sr-single .sidebar .sr-other-communities li a .address {
  display: block;
}

.sr-single .sidebar .search-link {
  text-decoration: underline;
}

/* Taxonomy page styling */
.tax-job_categories #main {
  padding: 60px 0px !important;
}

.tax-job_categories .type-job {
  margin: 40px 0px;
}

.tax-job_categories .post-date {
  display: none;
}

.tax-job_categories .type-job .excerpt-container p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}