.sr-admin {
  padding: 20px 20px 20px 0px;
}

.sr-admin .sr-header {
  background-color: #000;
  border-radius: 20px;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
}

.sr-admin .sr-header .left {
  margin-right: auto;
}

.sr-admin .sr-header .dashicons-before {
  margin-right: 8px;
}

.sr-admin .sr-header .dashicons-before:before {
  color: #fff;
  font-size: 56px;
  width: 56px;
  height: 56px;
}

.sr-admin .sr-header h1 {
  color: #fff;
  margin: 0px 0px 4px;
}

.sr-admin .sr-header p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0px;
  text-transform: uppercase;
}

.sr-admin .sr-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 20px;
}

.sr-admin .sr-content h2 {
  font-size: 20px;
  margin: 0px 0px 20px;
}

.sr-admin .sr-content h3 {
  font-size: 16px;
  margin: 0px 0px 20px;
}

.sr-admin .sr-content p {
  font-size: 16px;
  margin: 0px 0px 20px;
}

.sr-admin .sr-actions {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  gap: 8px;
}

.sr-admin .sr-actions .sr-time {
  color: #000;
  font-size: 16px;
}

.sr-admin .sr-content .sr-btn {
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 20px;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  user-select: none;
}

.sr-admin .sr-content .sr-btn.disabled {
  background-color: #ddd;
  pointer-events: none;
  color: #999;
}

.sr-admin .sr-content .sr-btn .dashicons-before {
  margin-left: 4px;
}

.sr-admin .sr-content .sr-btn:before,
.sr-admin .sr-content .sr-btn:after {
  display: none;
}

.sr-admin .sr-content .sr-btn[data-tip]:hover:before {
  background-color: #2c3338;
  box-sizing: border-box;
  display: block;
  content: attr(data-tip);
  color: #ffffff;
  font-size: 12px;
  padding: 8px 16px;
  position: absolute;
  bottom: calc(100% + 8px);
  border-radius: inherit;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
}

.sr-admin .sr-content .sr-btn[data-tip]:hover:after {
  content: '';
  display: block;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #2c3338 transparent transparent transparent;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
}

.sr-admin .sr-content .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  column-gap: 20px;
}

.sr-admin .sr-content .row .col {
  flex-grow: 1;
  flex-basis: 0;
}

.sr-admin .sr-content .sr-settings label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.sr-admin .sr-content .sr-settings input[type="text"] {
  background-color: #eee;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
  padding: 12px 24px;
}

.sr-admin .sr-content .sr-settings input[disabled] {
  background-color: #dddddd;
  box-shadow: none;
}

.sr-admin .sr-content .webhook-subscriptions {
  background-color: #f1f1f1;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  height: 160px;
  overflow-y: auto;
}

.sr-admin .sr-content .webhook-subscriptions .subscription {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

.sr-admin .sr-content .webhook-subscriptions .subscription .btn {
  color: #d63638;
  position: absolute;
  right: 5px;
  top: 5px;
}

.sr-admin .sr-content .webhook-notifications {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  height: 160px;
  overflow-y: auto;
}

.sr-admin .sr-content .webhook-notifications .notification {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

.sr-admin .loading > * {
  opacity: 0.25;
}

.sr-admin .loading:before {
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.sr-admin .loading:after {
  content: '';
  position: absolute;
  border: 16px solid #eee;
  border-radius: 50%;
  border-top: 16px solid #000000;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s ease-in-out infinite;
  animation: spin 2s ease-in-out infinite;
  left: 50%;
  top: 60px;
  margin-left: -30px;
  margin-top: -30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

.sr-admin .sr-progress {
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  position: relative;
  height: 20px;
  width: 100%;
}

.sr-admin .sr-progress:before {
  content: attr(data-text);
  color: #999;
  display: block;
  text-align: center;
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sr-admin .sr-progress-bar {
  height: inherit;
  background-color: #000;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 0%;
}

.sr-admin .sr-progress-bar:before {
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(273deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
  top: 0%;
  left: 0%;
  position: absolute;
  animation-name: progress-bar-load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.sr-admin .sr-progress-bar:after {
  content: attr(data-percent) '%';
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translate(0%, -50%);
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
}

.sr-admin .sr-progress-bar[data-percent="100"] {
  width: 100%;
}

.sr-admin .sr-progress-bar[data-percent="100"] {
  width: 100%;
}

.sr-admin .sr-progress-bar[data-percent="100"]:before {
  display: none;
}

.sr-admin .sr-progress-bar[data-percent="100"]:after {
  right: 50%;
  transform: translate(-50%, -50%);
}

.sr-admin .sr-results .sr-status {
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
  height: 16px;
  width: 16px;
}

.sr-admin .sr-results .sr-status.queued { background-color: #cccccc; }
.sr-admin .sr-results .sr-status.published { background-color: #1ed760; }
.sr-admin .sr-results .sr-status.updated { background-color: #2271b1; }
.sr-admin .sr-results .sr-status.trashed { background-color: #ffab09; }
.sr-admin .sr-results .sr-status.error { background-color: #d63638; }

.sr-admin .sr-results .sr-legend {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  padding: 0px 4px;
}

.sr-admin .sr-results .sr-legend label {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.sr-admin .sr-results .sr-list {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 240px;
  overflow-y: auto;
  padding: 4px 0px;
  background-color: #f1f1f1;
}

.sr-admin .sr-results .sr-list .sr-row {
  display: flex;
  align-items: center;
  padding: 0px 4px;
  color: inherit;
  text-decoration: none;
}

.sr-admin .sr-results .sr-list .sr-row[href] {
  font-weight: bold;
}

.sr-admin .sr-results .sr-list .sr-row[href]:hover {
  background-color: #ddd;
}

/* Animations */
@keyframes progress-bar-load {
  0% { left: -50%; }
  100% { left: 150%; }
}